.timeline a {
  color: #3a97d4;
  cursor: pointer;
}

.timeline h1 {
  text-align: center;
}

/* Timeline Container */
.timeline {
  background: var(--background-color);
  margin: 0 auto;
  padding: 5px 10px;
}

/* Card container */
.card {
  position: relative;
  max-width: 444px;
  counter-increment: section;
}

.completed {}

/* setting padding based on even or odd */
.card:nth-child(odd) {
  padding: 30px 0 30px 0;
}

.card:nth-child(even) {
  padding: 30px 0 30px 0;
}

/* Global ::before */
.card::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid #3a97d4;
  z-index: 1;
}

/* Setting the border of top, bottom, left */
.card:nth-child(odd)::before {
  left: -24px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
  width: calc(50% + 24px);
}

/* Setting the border of top, bottom, right */
.card:nth-child(even)::before {
  right: -24px;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
  width: calc(50% + 24px);
}

/* Removing the border if it is the first card */
.card:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.card:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.card:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  background: #313546;
  color: #ECEDF2;
  border-radius: 10px;
  padding: 10px;
  z-index: 99;
  position: relative;
}

.info p {
  margin: 0 0 8px 0;
  color: #ccc;
}

.info p:hover {
  color: #eee;
}

.info ul {
  margin: 0.3rem 1rem;
}

.info h4 {
  margin-top: 0;
}

/* Title of the card */
.title {
  color: #ECEDF2;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

/* Timeline dot  */
.title::before {
  position: absolute;
  width: 40px;
  height: 40px;
  color: #FFF;
  border-radius: 999px;
  background: #3a97d4;
  border: 3px solid #3a97d4;
}


.completed::before {
  border-color: #19857b;
}

.completed .title::before {
  background: #19857b;
  border-color: #19857b;
}


.pink::before {
  border-color: #ea64df;
}

.pink .title::before {
  background: #ea64df;
  border-color: #ea64df;
}

.card .checked h3,
.card .checked p,
.card .checked ul {
  text-decoration: line-through;
}

/* text right if the card is even  */
.card:nth-child(even)>.info>.title {
  /* text-align: right; */
}

/* setting dot to the left if the card is odd */
.card:nth-child(odd)>.info>.title::before {
  content: counter(section);
  left: -52px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Mulish;
}

/* setting dot to the right if the card is odd */
.card:nth-child(even)>.info>.title::before {
  content: counter(section);
  right: -52px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Mulish;
}

.card:nth-child(even)>.info>.title {
  flex-direction: row-reverse;
}

/* check  */

.label__check {
  display: inline-block;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.1);
  background: #c66857;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border .3s ease;
}

.label__checked {
  background-color: #42b181;
  display: inline-block;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.1);
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border .3s ease;
}

.label__check button:hover,
.label__checked button:hover {
  background-color: transparent;
}

.center {
  position: absolute;
  transform: translate(-50%, -50%);
}


.changeColor {
  position: fixed;
  right: 16px;
  bottom: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #313546;
  padding: 4px;
  border-radius: 50%;
  line-height: 0;
  width: 32px;
  height: 32px;
  z-index: 991;
}

.blueIcon {
  color: #3a97d4;

}

.pinkIcon {
  color: #ea64df;
}

@media(max-width: 599px) {
  .changeColor {
    right: 8px;
    bottom: 8px;
  }
}